html,
body {
  height: 100%;
}

#root {
  font-family: "Roboto", sans-serif;
  display: flex;
  flex-direction: column;
  height: 100%;
}

.mantine-DateInput-day[data-selected] {
  background: var(--mantine-color-blue-9);
}

.mantine-DateInput-day[data-weekend] {
  color: var(--mantine-color-red-8);
}

a {
  color: inherit;
  text-decoration: none;
}
